%section
  #filelist
    %form#filepicker
      - @texts.each do |textname|
        %label
          %input{type: 'checkbox', name: 'file', value: textname}= textname
      %input{type: 'submit', value: 'Analyze'}
  #analyze
    = @status


%section#words
  #wordfield
    Type stuff, or
    %button#gimme insert a random word
    %textarea#input{rows: 20, cols: 50}
      = @test.to_s
  #suggestions
    %h2 Suggestions:
    %ul

#msgs
