%section
  #filelist
    %form#filepicker
      %label
        %input{type: 'checkbox', name: 'file', value:'foundation'} Foundation
      %label
        %input{type: 'checkbox', name: 'file', value:'holmes'} Holmes
      %input{type: 'submit', value: 'Analyze'}
  #analyze
    = @status


%section#words
  #wordfield
    Type stuff!
    %textarea#form{rows: 20, cols: 50}
      = @test.to_s
  #suggestions
    %h2 Suggestions:
    %ul
      %li Stuff!
      %li Another!

#msgs
