#filelist 
  %form#filepicker
    %label
      %input{type: 'checkbox', name: 'file', value:'foundation'} Foundation
    %label
      %input{type: 'checkbox', name: 'file', value:'holmes'} Holmes
    %input{type: 'submit', value: 'Analyze'}
#analyze
  Select inputs and press 'Analyze'
