!!!
%html
  %head
    %title Markov Play Generator
    %link{rel: "stylesheet", href: "stylesheets/styles.css"}
  %body
    %header
      %h1 Markov Play Generator
    %main
      = yield
    %script{type: "text/javascript", src: "//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
    %script{type: "text/javascript", src: "javascript/app.js"}

